<div class="container">
    <h1>Events</h1>
    <% @events.each do |event| %>
        <p><%= event.name %> | <%= link_to 'Ver', event_path(event), class: 'btn btn-primary' %></p>
    <% end %>
</div>
